<!doctype html>

<html>
<head>
    <title>Lunch and Learn</title>	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
    <link href="/css/styling.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
</head>
    
<body>
    <div class = "navbar">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
    <div class="container" style="margin-left:5%;padding:1px 16px;"> 
        <div>
            <h1>Catering Options</h1>
        </div>
        {{#each catering_options}}
            <div class="club">
                <h3>{{name}}</h3>
                <ul>
                    <li style="margin-left:5%;"><p>Delivery: {{delivers}}</p></li>
                </ul>
                <h3>Kinds of Food</h3>
                <ul>
                    {{#each food_options}}
                        <li style="margin-left:5%;"><p>{{name}}</p></li>
                    {{/each}}
                </ul>
                <input type="button" class="button"  
                       onclick="window.open('{{url}}','_blank');;" 
                       value="View Website" 
                       id="{{name}}"/>
                <hr>
            </div>
        {{/each}} 
    </div>
    
    <script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>