<!doctype html>

<html>
<head>
	<title>Lunch and Learn</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/styling.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
</head>
    
<body>
    <!--<div class="navbar" id="navbar">

	</div>-->
    <div class="container"> 
        <div>
            <h1>Catering Options</h1>
        </div>
        {{#each catering_options}}
            <div class="club">
                <h3>{{name}}</h3>
                <p>Do they deliver: {{delivers}}</p>
                <h3>Kinds of Food</h3>
                {{#each food_options}}
                    <p>{{name}}</p>
                {{/each}}
                <input type="button" class="button"  
                       onclick="window.open('{{url}}','_blank');;" 
                       value="View Website" 
                       id="{{name}}"/>
                <hr>
            </div>
        {{/each}} 
    </div>
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>